h1,
h2,
p {
    text-align: center;
}

body {
    background-image: url(https://cdn.freecodecamp.org/curriculum/css-cafe/beans.jpg)
}

.menu {
    /*width: 300px;*/
    width: 80%;
    background-color: burlywood;
    margin-left: auto;
    margin-right: auto;
}

/*   
    Change the width property's value to be 80%, to make it 80% the width of its parent element (body).
*/